.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#box1 {
    text-align: center;
    border: 3px solid black;
    grid-column: span 2;
    padding: 10px;
    font-size: xx-large;
    background-color: rgba(100, 255, 50, 1);
    height: 170px;
}

#box2 {
    grid-column: span 2;
    text-align: center;
}

#box3 {
    grid-column: span 1;
    height: auto;
    color: black;
    padding: 0px 0px 0px 10px;
}

#background {
    height: 1000px;
}

ul {
    border: 3px solid black;
    border-right-width: 0.5px;
    border-top-width: 0.5px;
    width: 353px;
    height: 20px;
    text-align: center;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
    margin: 0px;
}

ul:hover {
    background-color: Red;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

#account {
    border-right-width: 3px;
}