body {
    background-color: #1f2833;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#box1 {
    text-align: center;
    border: 3px solid black;
    grid-column: span 2;
    padding: 10px;
    font-size: xx-large;
    background-color: #66Fcf1;
    height: 170px;
}

#box2 {
    grid-column: span 2;
    text-align: center;
    background-color: #45a29e;
}

#box3 {
    grid-column: span 2;
    height: 637px;
    padding: 0px 0px 0px 10px;
    text-align: center;
    color: #c5c6c7;
}

#box3 h3 {
    border: 3px solid #45a29e;
    position: absolute;
    padding: 10px 10px 10px 10px;
    margin-left: 38%;
    text-align: center;
    width: 400px
}

ul {
    border: 3px solid black;
    border-right-width: 0.5px;
    border-top-width: 0.5px;
    width: 356.4px;
    height: 20px;
    text-align: center;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
    margin: 0px;
}

ul:hover {
    background-color: #66Fcf1;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

#account {
    border-right-width: 3px;
}